<div id="wrapper">
	<!-- Navigation -->
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="col-md-6">
				<h2>
					&nbsp;&nbsp;<span id="headertitle"></span><span></span>
				</h2>
			</div>
			<div class="col-md-4"
				style="text-align: right; font-size: large; margin-top: -1%;">
				&nbsp;&nbsp;
				<div style="color: rgb(255, 122, 0);" id="loginUser"></div>
				<a ui-sref="bypass-activity.home">Home</a>&nbsp;|&nbsp;
				<a href="/logout" id="logout">Logout</a>
			</div>
		</div>
		<div class="col-md-11">
			<hr />
		</div>
	</div>
	<!-- /.navbar-top-links -->
	<!-- /.navbar-static-side -->
	<div id="page-wrapper">
	    <div style="width:25%;height:40%;float:left;border-right: 1px solid #eee;">
	    <div class="row">
		<div class="col-xs-12">
				 <h3>
					<div >
						&nbsp;&nbsp;<a ui-sref="system-activity.fileUploadActivity">Upload File</a>
						<hr />
					</div>
					<div >
						&nbsp;&nbsp;<a ui-sref="system-activity.addDataByGrid">Add data by Grid</a>
						<hr />
					</div>
					<div >
						&nbsp;&nbsp;<a 	ui-sref="system-activity.viewAllData">View Data</a>
						<hr />
					</div>
					<div >
						&nbsp;&nbsp;<a href="#" id="donwnloadLink">Download File</a>
						<hr />
					</div>
					</h3>
			</div>
		</div>
	    </div>
		<div ui-view  style="width:75%;float:right;"></div>
	</div>
	<script>
				$("#loginUser").html(loginUserDisplayName);
				$("#logout").attr("href", contextPath+"/logout");
				$("#donwnloadLink").attr("href", downloadURI);
	</script>
	<!-- /#page-wrapper -->
</div>
