<div>
	<div  id="showsearchPage">
		<div ng-hide="showEntryPage">
			<div class="row center_align">
				<div class="col-lg-2 col-md-offset-1">
					<div class="form-group" style="float: right;">
						<label>Bypass Level:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<select class="form-control requiredinput" id="bypasslevel"
						data-ng-model="bypasslevel" style="float: left;" ng-change="fieldSelection()">
						<option value="">--Please Select--</option>
						<option>DIV</option>
						<option>LIN</option>
						<option>SBL</option>
						<option>CLS</option>
						<option>ITM</option>
						<option>SPG</option>
						</select> <span class="requiredfield"></span>
				</div>
				<div class="col-lg-2 ">
					<div class="form-group" style="float: right;">
						<label>Action:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<select class="form-control requiredinput" id="action" data-ng-model="action" style="float: left;">
						<option value="">--Please Select--</option>
						<option>Add</option>
						<option>Delete</option>
						</select> <span class="requiredfield"></span>
				</div>
				</div>
			   <div class="row center_align">
				<div class="col-lg-2 col-md-offset-1">
					<div class="form-group" style="float: right;">
						<label>DIV:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<input class="form-control requiredthreedigitnumber" id="div"
						data-ng-model="div" placeholder="Enter Product Division"
						style="float: left;" input-disabled="editableDiv" > <span class="requiredfield"></span>
				</div>
			    <div class="col-lg-2">
					<div class="form-group" style="float: right;">
						<label>LIN:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<input class="form-control requiredtwodigitnumber" id="lin"
						data-ng-model="lin" placeholder="Enter Product line" input-disabled="editableLin"
						style="float: left;"> <span class="requiredfield"></span>
				</div>
				</div>
			<div class="row center_align">
				<div class="col-lg-2 col-md-offset-1">
					<div class="form-group" style="float: right;">
						<label>SBL:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<input class="form-control requiredtwodigitnumber" id="sbl"
						data-ng-model="sbl" placeholder="Enter Product Sub Line" input-disabled="editableSbl"
						style="float: left;"> <span class="requiredfield"></span>
				</div>
				<div class="col-lg-2">
					<div class="form-group" style="float: right;">
						<label>CLS:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<input class="form-control requiredthreedigitnumber" id="cls"
						data-ng-model="cls" placeholder="Enter Product CLS" input-disabled="editableCls"
						style="float: left;"> <span class="requiredfield"></span>
				</div>
				
			</div>
			<div class="row center_align">
				<div class="col-lg-2 col-md-offset-1">
					<div class="form-group" style="float: right;">
						<label>ITM:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<input class="form-control requiredfourfivedigitnumber" id="itm"
						data-ng-model="itm" placeholder="Enter Product Item" input-disabled="editableItm"
						style="float: left;"> <span
						style='font-size: 12px; color: red'></span>
				</div>
			    <div class="col-lg-2">
					<div class="form-group" style="float: right;">
						<label>SPG:</label>
					</div>
				</div>
				<div class="col-lg-2">
				<input class="form-control requiredOnlyDigit" id="spg"
						data-ng-model="spg" placeholder="Enter Product SPG" input-disabled="editableSpg"
						style="float: left;"> <span class="requiredfield"></span>
				</div>
				
			</div>
			<div class="row center_align">
				<div class="col-md-offset-4 col-xs-8">
					<button id="verifySaveinGrid" ng-click="verifySaveinGrid()"
						style="display: inline;" type="button" class="btn btn-primary">Verify/Save in Grid</button>
					<span id="searchresultspan"></span>
				</div>
			</div>
			<div class="col-md-11">
				<hr />
			</div>
		</div>
		<div class="row center_align" ng-show="showEntryPage">
				<div class="col-lg-2">
					<button id="verifySaveinGrid" ng-click="openEntryGrid()"
						type="button" class="btn btn-primary">Start new Activity</button>
			
			   </div>
		</div>
		<!-- /.row -->
		<div class="row center_align">
			
			<div class="col-md-11">
				<div class="panel panel-default">
					<div class="panel-heading">Entry added in Grid: <span><b> {{entrycount}}</b></span> 
					<span ng-show="showEntryPage" style="float:right">
					 <span style="color:green" >Success Records:<b> {{successcount}}</b></span>
					 <span style="color:red">, Failed Records: <b> {{failedcount}}</b></span>
					 </span>
				  </div>
					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover"
								id="recordgrid">
								<thead>
									<tr>
										<th>Bypass Type</th>
										<th>Product Code</th>
										<th>Action</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
	</div>
	<div class="row center_align" id="errorDiv">
			<div class="col-md-11" >
				<hr />
			</div>
			<div class="col-md-11 col-md-offset-1" >
				<div id="errorMsg"></div>
			</div>
	</div>
	<div>
		<div class="row center_align">
				<div class="col-md-offset-4 col-xs-8">
					<button id="verifySaveinGrid" ng-click="submitGridData()"  ng-show="showSubmitButton"
						 type="button" class="btn btn-primary">Submit</button>
					<div id="submitresultspan"></div>
				</div>
		</div>
	</div>
</div>

<style>
.notify {
   color: #e85f7f;font-style: italic;font-size: 13px;
} 
</style>
