<div>
	<div ng-hide="showResultPage">
		<form id="uploadForm" name="uploadForm">
			<div class="row center_align" style="display: none;">
				<div class="col-lg-3 col-md-offset-1">
					<div class="form-group" style="float: right;">
						<label>Select Type of file format<span
							class="requiredfield">*</span>:
						</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<input type="radio" data-ng-model="fileFormat" value="4" /> 4
						column
					</div>
					<div>
						<input type="radio" data-ng-model="fileFormat" value="5" /> 5
						column
					</div>
					<div>
						<input type="radio" data-ng-model="fileFormat" value="6" /> 6
						column
					</div>
					<div>
						<input type="radio" data-ng-model="fileFormat" value="7" /> 7
						column
					</div>
					<span></span>
				</div>
			</div>
			<div class="row center_align">
				<div class="col-xs-12 ">
					<div class="form-group" style="float: center;">
						<h5 class="notify">*Uploaded file should be in same format as provided
							in download sample link</h5>
					</div>
				</div>
			</div>

			<div class="row center_align">
				<div class="col-lg-3 col-md-offset-1">
					<div class="form-group" style="float: right;">
						<label>Download Sample File:</label>
					</div>
				</div>
				<div class="col-lg-3">
					<a href="download/xls"><strong>Download</strong></a><span></span>
				</div>
			</div>
			<div class="row center_align">
				<div class="col-lg-3 col-md-offset-1">
					<div class="form-group" style="float: right;">
						<label>Select valid File<span class="requiredfield">*</span>:
						</label>
					</div>
				</div>
				<div class="col-lg-3">
					<input type="file" file-model="file" class="file" /><span></span>
				</div>
			</div>
			<div class="row center_align" style="padding-top: 5px;">
				<div class="col-lg-3 col-md-offset-3">
					<button class="btn btn-primary" id="uploadFile"
						ng-click="uploadFile()">Upload file</button>
				</div>
				<div id="uploadresultspan" class="col-lg-10 col-md-offset-1"></div>
			</div>
		</form>
	</div>
	<div class="row center_align" ng-show="showResultPage">
		<div class="col-md-offset-1 col-lg-2 ">
			<button class="btn btn-primary" id="searchAgain"
				ng-click="uploadAgain()">Upload Again</button>
		</div>
	</div>
	<div class="row" id="errorDiv">
		<div class="col-md-11 col-md-offset-1">
			<div id="errorMsg"></div>
		</div>
	</div>
	<div ng-show="showResultPage">
		<div class="col-md-11">
			<hr />
		</div>
		<div class="row center_align">
			<div class="col-md-11">
			<h5 class="notify">*Records with validation failure will not be submitted</h5>
				<div class="panel panel-default">
					<div class="panel-heading">
						<span ng-show="showEntryPage"> <span>Pending
								Records:<b> {{pendingcount}}</b>
						</span> <span style="color: green">, Success Records:<b>
									{{successcount}}</b></span> <span style="color: red">, Failed
								Records: <b> {{failedcount}}</b>
						</span>
						</span>
					</div>
					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover"
								id="result_table">
								<thead>
									<tr>
										<th>Bypass Type</th>
										<th>Product Code</th>
										<th>Action</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
	</div>
	<div ng-show="showResultPage">
		<div class="row center_align">
			<div class="col-md-offset-4 col-xs-8">
				<button id="submitExcelData" ng-click="submitfileGridData()" ng-show="showSubmitButton" type="button"
					class="btn btn-primary">Submit</button>
				<div id="submitresultspan"></div>
			</div>
		</div>
	</div>
</div>

<style>
.notify {
   color: #e85f7f;font-style: italic;font-size: 13px;
} 
</style>