<div>
	<div ng-hide="showResultPage" id="showsearchPage">
		<div ng-hide="flagshowhistoryresult">
			<div class="row center_align">
				<div class="col-md-offset-4 col-lg-1">
					<button id="fetchDisplayDetails" ng-click="getAllBypassResult()"
						style="display: inline;" type="button" class="btn btn-primary">List Product(s) for which Bypass is Set</button>
					<span id="searchresultspan"></span>
				</div>

			</div>
			<div class="col-md-11">
				<hr />
			</div>
		</div>
		<div class="row center_align" ng-show="flagshowhistoryresult">
			<div class="col-md-offset-1 col-lg-2 ">
				<button class="btn btn-primary" id="searchAgain"
					ng-click="searchAgain()">Search Again</button>
			</div>
		</div>
		<!-- /.row -->
		<div class="row center_align" ng-show="flagshowhistoryresult">
			<div class="col-md-11">
				<hr />
			</div>
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover"
								id="result_table">
								<thead>
									<tr>
										<th>Bypass Type</th>
										<th>Product Code</th>
										<th>Last updated time</th>
										<th>User</th>
										<th>Action</th>
									</tr>
								</thead>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
	</div>
	<div class="row center_align" id="errorDiv">
		<div class="col-md-11 col-md-offset-1">
			<div id="errorMsg"></div>
		</div>
	</div>
	<div ng-show="showResultPage" id="showResultPage">
		<div class="col-md-11">
			<hr />
		</div>
		<div class="row">
			<div id="resultdiv"></div>
		</div>
	</div>
</div>
