<div class="row">
	<div class="col-xs-12">
		<h2>Welcome to Employee HR Management Utility</h2>
		<br>
	</div>
<!-- Text area -->
		<div class="form-group">
			<div class="col-md-4 inputGroupContainer">
				<div class="input-group">
				</div>
			</div>
		</div>
</div>

<style>
.notify {
   color: #e85f7f;font-style: italic;font-size: 13px;
} 
</style>