<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta charset="utf-8"/>
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width"/>
<title>Product Bypass Management Utility For Sears</title>
<!-- Bootstrap Core CSS -->
<style type="text/css">
.center_align{
margin: 0 auto !important;    
}

.center_align_table{ 
   padding: 0 0 0 0;
}
/* #StoreLabelStatus tr td:nth-child(5) {
   background:TOMATO !important;
} */
.TOMATO_COLOR{
background:TOMATO !important;
}
.SUCCESSFULL_COLOR {
    background:YELLOWGREEN !important;
}
.UNSUCCESSFULL_COLOR {
  background:TOMATO !important;
}
.body_color{
bgcolor:#ebebeb !important;
}
.requiredfield{
color:red;
padding-left:4px;
}

@import "compass/css3";



/* text recolor */
h1, p, a {
  color: #4DC9C9 !important;
}

/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  background-color: #6C6C6C !important;
  // feeling like it's a rounded corners kind of day
  border-color: #6C6C6C !important;
  border-radius: 25px; 
}



</style>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<style type="text/css">
.row{margin:0px;}
</style>
<!-- MetisMenu CSS -->
<link th:href="@{/css/metisMenu.min.css}" rel="stylesheet"/>
<!-- DataTables CSS -->
<link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet"/>

<!-- DataTables Responsive CSS -->
<link th:href="@{/css/dataTables.responsive.css}" rel="stylesheet"/>
<!-- Custom Fonts -->
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css"/>
<!-- DataTables JavaScript -->
<script  th:src="@{/system-activity/bower_components/jquery/dist/jquery.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/angular/angular.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/angular-ui-router/release/angular-ui-router.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/json3/lib/json3.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/oclazyload/dist/ocLazyLoad.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/angular-loading-bar/build/loading-bar.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/metisMenu/dist/metisMenu.min.js}"></script>
<script  th:src="@{/system-activity/bower_components/Chart.js/Chart.min.js}"></script>

<script  th:src="@{/system-activity/js/angular-prompt.js}"></script>
 
<script  th:src="@{/system-activity/app.js}"></script>
<script  th:src="@{/system-activity/js/option/welcome.controller.js}"></script>

<script  th:src="@{/system-activity/layout/page-setup.js}"></script>

<script  th:src="@{/js/jquery.dataTables.min.js}"></script>
<script  th:src="@{/js/dataTables.bootstrap.min.js}"></script>


<script>
$.extend( $.fn.dataTableExt.oStdClasses, {
    "sSortAsc": "header headerSortDown",
    "sSortDesc": "header headerSortUp",
    "sSortable": "header"
} );
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js"></script>
	<script  th:src="@{/system-activity/bower_components/d3chartdemo/nv.d3.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
	<link rel="stylesheet" th:href="@{/system-activity/bower_components/d3chartdemo/nv.d3.css}" type="text/css"/>

 <script type="text/javascript">
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
  </script>
  <script th:inline="javascript">
/*<![CDATA[*/
    var loginUserDisplayName = /*[[${session.requestorName}]]*/ 'default';
    var contextPath = /*[[@{/}]]*/ 'default';
    var downloadURI= /*[[${@environment.getProperty('read.property')}]]*/ 'default';
/*]]>*/
</script>
 </head>
 <body>
    <div data-ng-app="SystemActivity">
        <div><ui-view></ui-view></div>
    </div>
  </body>
</html>