<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/metisMenu.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.css}"
	rel="stylesheet" />

<link th:href="@{/css/dataTables.responsive.css}"
	rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />
<title>Login Form</title>

</head>

<body>
	<div id="wrapper">
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<div class="col-md-6">
					<h2>
						&nbsp;&nbsp;<span id="headertitle"></span><span></span>
					</h2>
				</div>
				<div class="col-md-4"
					style="text-align: right; font-size: large; margin-top: -1%;">
					&nbsp;&nbsp;
					<div style="color: rgb(255, 122, 0);" id="loginUser"></div>
					<script>
						$("#loginUser").html(loginUserDisplayName);
					</script>
				</div>
			</div>
			<div class="col-md-11">
				<hr />
			</div>
		</div>
		<div id="page-wrapper">
			<div style="width: 100%; float: right;">
				<div class="container">
					<div class="row">
						<div class=" col-sm-offset-3 col-xs-6" style="background: #ebebeb !important">
							<form name="submitForm" method="POST" action="authenticate">
								<div align="center">
									<h3 style="color: #6C6C6C !important">EMPLOYEE HR SYSTEM
										LOGIN PAGE</h3>
									<label for="username" class="control-label">Username</label> <input
										type="text" id="username" name="userName" value=""
										class="form-control input-sm chat-input"
										placeholder="username" /> <br></br>
									<label for="password" class="control-label">Password</label> <input
										type="password" id="password" name="password" value=""
										class="form-control input-sm chat-input"
										placeholder="password" /><br></br> <input type="submit"
										class="btn btn-success btn-login" value="Login" /> <br></br>
									<div style="color: red" th:text="${error}"></div>
								</div>
							</form>
						</div>

					</div>
				</div>



			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>


</body>
</html>